[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Music
Comment=Troll. hehe
Exec=sh /scripts/music.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false 
